@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}
body{
 min-height: 100vh;
 background: var(--primary__dark);
}
/* ------------------color-----------------*/
:root{
 --primary__dark:#171C30;
 --secondary__dark:#262C46;
 --primary__dark__text:#7a8195;
}
.primary--bg{
 background: var(--primary__dark);
}
.secondary--bg{
 background: var(--secondary__dark);
}
.primary--dark--text{
 color: var(--primary__dark__text);
}
/*--------------------NavBar--------------*/
.flex{
 display: flex;
 gap: var(--gap,1rem);
}
.wrap{
 flex-wrap: wrap;

}
.App{
 --gap:0;
 overflow: hidden;
 max-height: 100vh;
}
*::-webkit-scrollbar{
 width: 10px;
 border-radius: 5px;
 height: 10px;
}
*::-webkit-scrollbar-track{
 width: 10px;
 background: #343a5c;
 border-radius: 5px;
 margin: 2px;
 padding: 1px;
}
*::-webkit-scrollbar-thumb{
 width: 8px;
 background: #171c30;
 border-radius: 5px;
 border: 2px solid #343a5c;

}