@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}
body{
 min-height: 100vh;
 transform-style: preserve-3d;
 background: var(--primary__dark);
}
/* ------------------color-----------------*/
:root{
 --primary__dark:#171C30;
 --secondary__dark:#262C46;
 --primary__dark__text:#7a8195;
}
.primary--bg{
 background: var(--primary__dark);
}
.secondary--bg{
 background: var(--secondary__dark);
}
.primary--dark--text{
 color: var(--primary__dark__text);
}
/*--------------------NavBar--------------*/
.flex{
 display: flex;
 gap: var(--gap,1rem);
}
.wrap{
 flex-wrap: wrap;

}
.App{
 --gap:0;
 overflow: hidden;
 max-height: 100vh;
}
*::-webkit-scrollbar{
 width: 10px;
 border-radius: 5px;
 height: 10px;
}
*::-webkit-scrollbar-track{
 width: 10px;
 background: #343a5c;
 border-radius: 5px;
 margin: 2px;
 padding: 1px;
}
*::-webkit-scrollbar-thumb{
 width: 8px;
 background: #171c30;
 border-radius: 5px;
 border: 2px solid #343a5c;

}
.filterBox,.sortBox {
 position: absolute;
 top: 34px;
 width: 165px;
 /* left: -100px; */
 translate: -38%;
 padding: 10px;
 border-radius: 8px;

 box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
 background: #2f374f;
 z-index: 10000;
}
.filterBox::before,.sortBox::before {
 content: '';
 position: absolute;
 width: 25px;
 height: 25px;
 rotate: 45deg;
 top: -3px;
 left: 41%;
 /* translate: -50%; */
 z-index: -1;
 background: #2f374f;
}
.filterBox input{
 width: 100%;
 padding: 5px;

 margin-top: 10px;
 font-size: 17px;
 border-radius: 7px;
 color: #d7d7d7;
 outline: none;
 border: none;
 background: #171c30;


}
.filterBox select,.sortBox select{
 margin-top: 10px;
 width: 100%;
 background: #171c30;
 padding: 5px;
 color: #d7d7d7;
 outline: none;
 font-size: 17px;
 border: none;
 box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
}
canvas {
 width: 100% !important;
 min-height: 70%; 
    margin: auto;
}
.toast{
    background: #262c46;
}
.error{
    font-size: 12px;
    padding: 3px;
    display: none;
   }
input:invalid[focused="true"] ~ .error{
    display: block;
   }
   .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    margin-top: 200px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
